.tabela-itens {
    border-collapse: collapse;
    width: 70%;
    margin: 0.5rem auto;
}

.itens{
    text-align: left;
    padding: 0.5% 1%;
    border: solid 1px
}

.itens-th{
    text-align: left;
    border: solid 1px;
    padding: 0.5% 1%;
    background: #b8b8b8;
}

.detalhes{
    border-collapse: collapse;
    margin: 0.5rem auto;
}

.detalhes-th{
    text-align: left;
    padding: 0.3rem;
}

form {
        width: 90%;
        max-width: 800px;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}







