<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Vendas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2 class="center">{{ titulo }}</h2>

    <table>
        <thead>
            <tr>
                <th style="width: 20%">Data</th>
                <th style="width: 55%">Cliente</th>
                <th style="width: 15%">Total</th>
                <th style="width: 10%">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in lista %}
            <tr>
                <td>{{ venda.data }}</td>
                <td>{{ venda.cliente.nome }}</td>
                <td>{{ venda.valortotal }}</td>
                <td><a href="/vendas/detalhes/{{venda.idvenda}}"><button>Detalhes</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="center">
        <a type="button" href="/"><button>Voltar</button></a>
        <a href="/vendas/cadastrar"><button>Efetuar Venda</button></a>
    </div>
</body>
</html>
